@import url("https://fonts.googleapis.com/css?family=Chicle|Life+Savers|Luckiest+Guy");

body {
  min-width: 933px !important;
  overflow-x: auto !important;
  margin: 0;
  font-family: "Life Savers", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chicle", cursive !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
